* {
    box-sizing: border-box;
}

body {
    background-color: #eaffff;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px auto 30px;
}

#header-nav {
    background-color: #dbdbdb;
}

.navbar-brand {
    font-weight: bold;
}

#navbarToggler {
    text-align: center;
    color: #242424;
}

#main-content>div.container {
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    height: 1000px;
    background-color: #a5b7ff;
}